<div>
    <md-list class="panel-widget">
        <md-list-item ng-repeat='task in home.tasks | filterTasks: home.keyword'>
            <section layout="column" layout-fill>
                <div layout="row">
                    <!-- <md-checkbox class="checkbox" ng-model="task.done" aria-label="Task Done"></md-checkbox> -->
                    <div layout-padding>
                        <img ng-src="{{task.image ? task.image : '../../../assets/images/no-image-icon.png'}}" class="task-icon">
                    </div>
                    <div>
                        <h3> {{task.name}} </h3>
                        <p> {{task.date | date: "dd MMMM yyyy"}} </p>
                    </div>
                </div>
                <span flex></span>
                <div>
                    <md-button ng-click="home.showInfo(task)" class="btn btn-info">
                        <md-icon class="material-icons">info</md-icon>
                    </md-button>
                    <md-button ng-click='home.editTask(event, task)' class="btn btn-edit">
                        <md-icon class="material-icons">mode_edit</md-icon>
                    </md-button>
                    <md-button ng-click="home.delateTask(task)" class="btn btn-delete">
                        <md-icon class="material-icons">delete_forever</md-icon>
                    </md-button>
                </div>
            </section>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div layout="row" layout-align="end">
        <md-button ng-click="home.addTask(task)" class="btn btn-add">
            <md-icon class="material-icons">add</md-icon>
        </md-button>
    </div>
</div>